@import url("https://fonts.googleapis.com/css?family=Helvetica");

/*Responsive Navigation Bar*/
/*Code borrowed from https://w3schools.com but modified for this project*/
body {
	font-family: Helvetica;
	}

h1 {
	font-family: Cursive;
	font-size: 35px;
	color: black;
}
.header1{
  text-align: center;
}

#icon-color{
	color: #00ced1;
}
/*Navigation bar*/
.navbar {
  width: 100%;
  background-color: #000;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #808080
}
/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Style the dropdown button to fit inside the topnav */
.dropdown .button {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.current {
  background-color: #48d1cc;
  text-transform: uppercase;
}

#content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: auto;
  padding-right: 30px;
	font-size: 20px;
}
img{
	width:50vh;
	height: 75vh;
	margin: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
}
#profile_pic{
  width:95vh;
  height: 80vh;
  margin: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
}

/*Skip to main content*/
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: black;
    /*background-color:#000;*/
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px grey;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/*Slide Show*/
/*Below is code I borrowed to add the slide show*/
/*I borrowed this code from https://www.w3schools.com*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background: black;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background: black;
  font-size: 16px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Accordion Feature*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  font-size: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*Accordion feature 2*/

.accordion2 {
  background-color: #eee;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion2:hover {
  background-color: #ccc;
}


.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion2:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*Parallax Feature*/
/*Borrowed code from video and mofied it*/
.parallax { 
  /* The image used */
  background-image: url('plane.jpg');
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption{
  position:absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.border{
  background-color: #111;
  color:#fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px
}

div{
  display:block;
}
element.style{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.header-3{
  font-family:cursive;
  font-size: 26px;
}

/*Lightbox Image Gallery*/
/*Code borrowed from www.w3schools.com and modified for the purpose of my site*/
.row > .column {
  padding: 0 8px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}
#img{
  width: 50vh;
  height: 50vh;
  padding: 10px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}
#pics{
  width: 100%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  width: 50vh;
  height: 50vh;
  margin: auto auto auto auto;
  padding: 75px;
  /*opacity: 0.6;*/
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Footer*/
.footer { 
  background: lightgrey;
  width: 100%;
  text-align: center;
  padding: 35px 35px;
  margin-top: 65px;
}

/*Social Media Font Awesome CSS Styling*/
/*Borrowed code from www.w3schools.com*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/*Instagram*/
.fa-instagram {
  background:  #F56040;
  color: white;
}
/*github*/
.fa-github{
  background: #000000;
  color: white;
}
/*Facebook*/
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*Likedin*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}


/*MEDIA QUERIES*/

/*Mobile Only*/
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  #content {
	display: block;
	grid-template-columns: 1fr;
	font-size: 25px;
}
img {
	width: 50vh;
	height: 50vh;
}
}

    